USE [PersonalBlog]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/11/2019 4:11:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Achievements]    Script Date: 6/11/2019 4:11:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[UplodedAt] [nvarchar](max) NULL,
	[UplodedBy] [nvarchar](max) NULL,
	[UpdatedAt] [nvarchar](max) NULL,
	[updatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Achievements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Galleries]    Script Date: 6/11/2019 4:11:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galleries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Caption] [nvarchar](max) NULL,
	[Imagepath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Galleries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Histories]    Script Date: 6/11/2019 4:11:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Histories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[UplodedAt] [nvarchar](max) NULL,
	[UplodedBy] [nvarchar](max) NULL,
	[UpdatedAt] [nvarchar](max) NULL,
	[updatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Histories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 6/11/2019 4:11:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Nooffile] [int] NOT NULL,
	[FilePath] [nvarchar](max) NULL,
	[Gallery_Id] [int] NULL,
	[UplodedAt] [nvarchar](max) NULL,
	[UplodedBy] [nvarchar](max) NULL,
	[UpdatedAt] [nvarchar](max) NULL,
	[updatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logins]    Script Date: 6/11/2019 4:11:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[RandomPass] [nvarchar](max) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Logins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[News]    Script Date: 6/11/2019 4:11:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[UplodedBy] [nvarchar](max) NULL,
	[UplodedAt] [datetime] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[shortDetail] [nvarchar](max) NULL,
	[LongDescription] [nvarchar](max) NULL,
	[PublishingDate] [nvarchar](max) NULL,
	[UpdatedAt] [nvarchar](max) NULL,
	[updatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonalDetails]    Script Date: 6/11/2019 4:11:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[ShortDetail] [nvarchar](max) NULL,
	[LongDescription] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[UplodedAt] [nvarchar](max) NULL,
	[UplodedBy] [nvarchar](max) NULL,
	[UpdatedAt] [nvarchar](max) NULL,
	[updatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PersonalDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Achievements] ON 

INSERT [dbo].[Achievements] ([Id], [Title], [description], [Image], [UplodedAt], [UplodedBy], [UpdatedAt], [updatedBy]) VALUES (1, N'gold medalist', N'gold medalist of 2nd batch', N'/Achievements/1/58436bcf-d05e-4eaf-bb0a-a31c0fef172f.png', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Achievements] OFF
SET IDENTITY_INSERT [dbo].[Galleries] ON 

INSERT [dbo].[Galleries] ([Id], [Name], [Caption], [Imagepath]) VALUES (1, N'My image', N'this is my image', NULL)
INSERT [dbo].[Galleries] ([Id], [Name], [Caption], [Imagepath]) VALUES (2, N'Image3', N'this is not my image', N'/Gallery/1/Thumbnail/61923760_375418489986526_861923769357172736_n.png')
INSERT [dbo].[Galleries] ([Id], [Name], [Caption], [Imagepath]) VALUES (3, N'MyGallery2', N'gallery1', N'/Gallery/2/Thumbnail/51225889_1813781228733594_1504177609544564736_n.jpg')
SET IDENTITY_INSERT [dbo].[Galleries] OFF
SET IDENTITY_INSERT [dbo].[Histories] ON 

SET IDENTITY_INSERT [dbo].[Histories] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [Name], [Nooffile], [FilePath], [Gallery_Id], [UplodedAt], [UplodedBy], [UpdatedAt], [updatedBy]) VALUES (1, N'10405138_l.jpg', 0, N'/Gallery/1/10405138_l.jpg', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Images] ([Id], [Name], [Nooffile], [FilePath], [Gallery_Id], [UplodedAt], [UplodedBy], [UpdatedAt], [updatedBy]) VALUES (2, N'112107707.jpg', 0, N'/Gallery/1/112107707.jpg', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Images] ([Id], [Name], [Nooffile], [FilePath], [Gallery_Id], [UplodedAt], [UplodedBy], [UpdatedAt], [updatedBy]) VALUES (3, N'Beaver-Run-Resort-Cocktails-at-Spencers-Restaurant.jpg', 0, N'/Gallery/1/Beaver-Run-Resort-Cocktails-at-Spencers-Restaurant.jpg', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Logins] ON 

INSERT [dbo].[Logins] ([Id], [Email], [RandomPass], [PasswordHash], [PasswordSalt], [Role]) VALUES (1, N'poudyalrupak2@gmail.com', NULL, 0xB885A09112AA3EC3F8DAD0B14F7CFEF265AB0EBC11040908E83FCEE29E4A6A944AD4520B7EA5A2F2B5C62352D7D097506390B06981A0A16DAE549372BA33A736, 0xCF644243C225FAD529BB716C28BDCFA954D40D8C5DCCA0A589A72A0B06C39D0BAE6F3CD3601CD32A5E75A4DFA1BA8DD74B973DCD5EF9D8D87DB12ADED5D01AFEA8BA6F5EB93759983552F7087120100A64E5F16E7090814C9FCB1D1295612DC69568159F46C8C3CD36439D737FC258DE4379FBE0374D8B4BB65B9F30766BE8D2, N'SuperAdmin')
INSERT [dbo].[Logins] ([Id], [Email], [RandomPass], [PasswordHash], [PasswordSalt], [Role]) VALUES (2, N'raj2@gmail.com', NULL, 0xB885A09112AA3EC3F8DAD0B14F7CFEF265AB0EBC11040908E83FCEE29E4A6A944AD4520B7EA5A2F2B5C62352D7D097506390B06981A0A16DAE549372BA33A736, 0xCF644243C225FAD529BB716C28BDCFA954D40D8C5DCCA0A589A72A0B06C39D0BAE6F3CD3601CD32A5E75A4DFA1BA8DD74B973DCD5EF9D8D87DB12ADED5D01AFEA8BA6F5EB93759983552F7087120100A64E5F16E7090814C9FCB1D1295612DC69568159F46C8C3CD36439D737FC258DE4379FBE0374D8B4BB65B9F30766BE8D2, N'Admin')
SET IDENTITY_INSERT [dbo].[Logins] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([Id], [Title], [UplodedBy], [UplodedAt], [Image], [Category], [shortDetail], [LongDescription], [PublishingDate], [UpdatedAt], [updatedBy]) VALUES (2, N'Holyday update', NULL, CAST(N'2019-05-19 13:00:25.537' AS DateTime), N'/News/1/52313915_327120057922023_339136609171537920_n.jpg', N'news', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[News] ([Id], [Title], [UplodedBy], [UplodedAt], [Image], [Category], [shortDetail], [LongDescription], [PublishingDate], [UpdatedAt], [updatedBy]) VALUES (3, N'my second trophy', NULL, CAST(N'2019-05-19 13:18:18.313' AS DateTime), N'/News/2/2 colorblind.png', N'news', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[News] ([Id], [Title], [UplodedBy], [UplodedAt], [Image], [Category], [shortDetail], [LongDescription], [PublishingDate], [UpdatedAt], [updatedBy]) VALUES (4, N'Holyday update', NULL, CAST(N'2019-05-24 14:45:12.467' AS DateTime), N'/News/3/2 colorblind.png', N'event', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[PersonalDetails] ON 

INSERT [dbo].[PersonalDetails] ([Id], [FirstName], [LastName], [ShortDetail], [LongDescription], [Email], [Image], [UplodedAt], [UplodedBy], [UpdatedAt], [updatedBy]) VALUES (1, N'Rupak', N'poudyal', N'hawa manxe', N'this is me', N'rupakpoudyal5@gmail.com', N'/Admin/1/0a97772b-6264-4070-a484-aa33c1498e66.png', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PersonalDetails] OFF
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Images_dbo.Galleries_Gallery_Id] FOREIGN KEY([Gallery_Id])
REFERENCES [dbo].[Galleries] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_dbo.Images_dbo.Galleries_Gallery_Id]
GO
