@model PersonalBlog.Areas.Admin.Models.History

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<br />


<section class="services_area" style="min-height:500px">
    <div class="container">

        <center>
            <h1>@Model.Title</h1>
        </center>
        <p>
            @Model.Description
        </p>
    </div>>

</section>
